<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>PhonyWeb</title>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <link href='http://fonts.googleapis.com/css?family=Crete+Round|Peralta' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet' type='text/css'>
  <link href="/css/index.css" rel="stylesheet">

  <script src="/js/lib/custom.modernizr.js"></script>
  
</head>
<body>
 <!--  <nav class="tab-bar show-for-small">
      <aside class="left-off-canvas-menu">
        <ul>
          <li><a href="#">Yes</a></li>
        </ul>
      </aside>

      <a class="left-off-canvas-toggle menu-icon">
        <span>PhonyWeb</span>
      </a>
      <a class="exit-off-canvas"></a>
    </nav> -->

  <div class="off-canvas-wrap">
    <div class="inner-wrap">

  <aside class="left-off-canvas-menu show-for-small">
    <ul class="off-canvas-list">
      <li><label class="first">Contacts</label></li>
      <li><a href="#contacts">Contact List</a></li>
    </ul>

    <ul class="off-canvas-list">
      <li><label class="first">Messages</label></li>
      <li><a href="#inbox">Inbox</a></li>
      <li><a href="#sent">Sent Items</a></li>
      <li><a href="#" data-reveal-id="recordModal">Compose</a></li>
    </ul>

    <ul class="off-canvas-list">
      <li><label class="first">Billing</label></li>
      <li><a href="#billing">Bill</a></li>
    </ul>

    <ul class="off-canvas-list">
      <li><label class="first">Username</label></li>
      <li><a href="#">Profile</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </aside>
  <nav class="tab-bar show-for-small" data-topbar>
    <a class="left-off-canvas-toggle menu-icon">
      <span>PhonyWeb</span>
    </a>
  </nav>

  <div id="topbar-wrapper" class="contain-to-grid hide-for-small">
    <nav class="top-bar hide-for-small" data-topbar >
      <ul class="title-area">
        <li class="name"><h1><a href="/">PhonyWeb</a></h1></li>
      </ul>

      <section class="top-bar-section">
        <ul class="left has-dropdown">
          <li class="divider"></li>
          <li><a id="contacts-btn" href="#contacts">Contacts</a></li>
          <li class="divider"></li>
          <li class="has-dropdown"><a id='messages-btn' href="#">Messages</a>
            <ul class="dropdown" data-dropdown-content>
              <li><a id='messages-inbox-btn' href="#inbox">Inbox</a></li>
              <li><a id='messages-sent-btn' href="#sent">Sent Items</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li><a id='billing-btn' href="#billing" >Billing</a></li>
          <li class="divider"></li> 
          <li class="has-form"><a id='record-message-btn' href="#" class="button" data-reveal-id="recordModal">Compose </a></li>           
        </ul>

        <ul class="right">
          <li class="has-dropdown"><a id='user-btn' href="#">Username</a>
            <ul class="dropdown" data-dropdown-content>
              <li><a id='profile-btn' href="#">Profile</a></li>
              <li><a id='logout-btn' href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
  </div>

  <div id="page" class="row">
    <div class="large-12 columns">

      <h2 id="header-wrapper"></h2>
      <hr>

      

      <div class="row">
        <div class="small-12 large-9 small-centered columns">
          <div id="message-header" class="row" style="display: none;">
            <div class="small-3 columns">
              <span>Sender Name</span>
            </div>

            <div class="small-3 columns">
              <span>Receiver Mobile</span>
            </div>

            <div class="small-3 columns">
              <span>Date sent</span>
            </div>
            <div class="small-3 columns">
              <span></span>
            </div>
          </div>

          <div class="row">
            <ul id="message-wrapper" class="small-12 columns">
        
            </ul>
          </div>
        </div>
      </div>

      

      <div class="row">
        <div class="small-12 large-9 small-centered columns">

          <div id="contact-header" class="row" style="display: none;">
            <div class="small-3 columns">
              <span>First name</span>
            </div>

            <div class="small-3 columns">
              <span>Last name</span>
            </div>

            <div class="small-3 columns">
              <span>Mobile number</span>
            </div>

            <div class="small-3 columns">
              <a href="#">Add contact</a>
            </div>
          </div>

          <div class="row">
            <ul id="contact-wrapper" class="small-12 columns">
        
            </ul>
          </div>
        </div> 
      </div>

      <div class="row">
        <div class="small-12 large-9 small-centered columns">

          <div id="bill-header" class="row" style="display: none;">
            <div class="small-3 columns">
              <span>To</span>
            </div>

            <div class="small-3 columns">
              <span>Duration</span>
            </div>

            <div class="small-3 columns">
              <span>Cost</span>
            </div>

            <div class="small-3 columns">
              <a href="#">Date</a>
            </div>
          </div>

          <div class="row">
            <ul id="bill-wrapper" class="small-12 columns">
        
            </ul>
          </div>
        </div> 
      </div>
      

      <div id="recordModal" class="reveal-modal small" data-reveal>
        <h4>Compose voice message</h4>
        <hr>
        <form id="compose-form" data-abide>
          <div class="row">
            <div class="columns small-12">
              <textarea id="message-txtBx" placeholder="Enter voice message as text"></textarea>
            </div>
          </div>

          <div class="row">
            <div class="small-12 columns">
              <fieldset>
                <legend><a href="#">Send to one</small></legend>
                <div class="row">
                  <div class="columns small-12">
                    <label><small>*required</small></label>
                    <input id="mobile-number-txtBx" type="text" placeholder="Mobile number" pattern="[0-9]+" required>
                    <small class="error">You must enter a nigerian mobile number. E.g 08058113689</small>
                  </div>
                </div>

                <div class="row">
                  <div class="small-6 columns">
                    <input id="first-name-txtBx" type="text" placeholder="First name" pattern="alpha_numeric">
                  </div>

                  <div class="small-6 columns">
                    <input id="last-name-txtBx" type="text" placeholder="Last name" pattern="alpha_numeric">
                  </div>
                </div>
                <a id="send-message-btn" href="#" class="button small-12 columns">Send</a>
              </fieldset>
            </div> 
          </div>

          <div class="row">
            <div class="small-12 columns">
              <fieldset>
                <legend><a href="#">Send to many</a></legend>
                <div class="small-6 columns">
                  <label><small>*required</small></label>
                  <input id="csv-fileBx" type="file">
                  <small class="error">You must enter a first name to save contact.</small>
                </div>
                <a id="import-csv-btn" href="#" class="button small-12 columns">Import CSV</a>
              </fieldset>
            </div>
          </div>
          
        </form>
      </div>
    </div> 
  </div>

<a class="exit-off-canvas"></a>
</div> 
</div> <!-- end of off-canvas-wrap -->
  <!-- <footer class="container">
    <div id="footer" class="large-12 columns">
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; PhonyWeb</p>
        </div>
        <div class="large-6 small-12 columns">
          
        </div>
      </div>
    </div>
  </footer> -->

  <script>
  document.write('<script src=\/js\/lib\/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="/js/lib/jquery.js"></script>
  <script src="/js/lib/underscore-min.js"></script>
  <script src="/js/lib/backbone-min.js"></script>
  <script src="/js/lib/foundation.min.js"></script>
  <script src="/js/lib/jquery.cookies.2.2.0.min.js"></script>
  <script src="/js/app.js"></script>
  <script>
    $(document).foundation();
  </script>


  <script id="contact-template" type="text/template">
    <div class="row">
      <div class="small-3 columns">
        <span><%= first_name %></span>
      </div>

      <div class="small-3 columns">
        <span><%= last_name %></span>
      </div>

      <div class="small-3 columns">
        <span><%= mobile_number %></span>
      </div>

      <div class="small-3 columns">
        <a class="send-message-row-btn" href="#contacts" data-reveal-id="recordModal">Send Voice Message</a>
      </div>
    </div>
    
  </script>

  <script id="message-template" type="text/template">
    <div class="row">
      <div class="small-3 columns">
        <span><%= sender_id %></span>
      </div>

      <div class="small-3 columns">
        <span><%= receiver_mobile_number %></span>
      </div>

      <div class="small-3 columns">
        <span><%= sent %></span>
      </div>

      <div class="small-1 columns">
        <a class="send-message-row-btn" href="#" data-dropdown="drop<%= call_id %>" >Text</a>
        <ul id="drop<%= call_id %>" class="f-dropdown content" data-dropdown-content>
          <li>yes</li>
        </ul>
      </div>

      <div class="small-1 columns">
        <a class="send-message-row-btn" href="#" >Status</a>
      </div>
    </div>
  </script>

  <script id="bill-template" type="text/template">
    <div class="row">
      
    </div>
  </script>


  <script src="/js/model/model.js"></script>
  <script src="/js/collection/collection.js"></script>
  <script src="/js/view/view.js"></script>
  <script src="/js/router/router.js"></script>

</body>
</html>