<!DOCTYPE html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Welcome to JJDF</title>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.css">
  <link href='http://fonts.googleapis.com/css?family=Crete+Round|Peralta' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cantata+One' rel='stylesheet' type='text/css'>
  <link href="/css/index.css" rel="stylesheet">

  <script src="/js/lib/custom.modernizr.js"></script>
  
</head>
<body>

  <!-- <div id="login-wrapper" class="row" >
    <div class="small-12 large-centered large-4 columns" style="background-color: #f5f5f5; padding-bottom: 70px; padding-top: 10px; margin-top: 50px;">
      <h3 class="large-centered columns large-12 sub-header" style="font-weight: 90;">QuickQuiz Login</h3>
       <hr/>
      <form id="login-form">
        <input type="text" id='jid' name="username" placeholder="Username" autofocus/>
        <input type="password" id='password' name="password" placeholder="Password"/>
        <a id="login-btn" href="#" class="small-12 columns button radius">Login</a>
      </form>
    </div>
  </div> -->

  <div id="login-wrapper" class="row" >
    <div class="small-12 large-centered large-4 columns" style="background-color: #f5f5f5; padding-bottom: 70px; padding-top: 10px; margin-top: 50px;">
      <h3 class="large-centered columns large-12 sub-header" style="font-weight: 90;">PhonyWeb Login</h3>
       <hr/>
      <a id="login-btn" href="/facebook_login" class="small-12 columns button radius">Facebook Login</a>
      <a id="login-btn" href="/google_login" class="small-12 columns button radius">Google Login</a>
      <a id="login-btn" href="/twitter_login" class="small-12 columns button radius">Twitter Login</a>
    </div>
  </div>

  <!-- <footer class="container">
    <div id="footer" class="large-12 columns">
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; PhonyWeb</p>
        </div>
        <div class="large-6 small-12 columns">
          
        </div>
      </div>
    </div>
  </footer>
 -->
  <script>
  document.write('<script src=\/js\/lib\/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="/js/lib/jquery.js"></script>
  <script src="/js/lib/underscore-min.js"></script>
  <script src="/js/lib/backbone-min.js"></script>
  <script src="/js/lib/foundation.min.js"></script>

  <script src="/js/lib/jquery.cookies.2.2.0.min.js"></script>
  <script>
    $(document).foundation();
  </script>
<!-- End Footer -->

</body>
</html>


