body {
	font-family: Helvetica;
}

h1 {
	text-align: center;
}


#contact-wrapper, #message-wrapper {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.contact-row, .message-row {
	margin: 0px 20px;
	padding: 25px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}

#contact-header, #message-header {
	margin: 0px 20px;
	padding: 25px;
	border-bottom: 1px solid #ccc;
	background-color: #F1F1F1;
}

.contact-row:hover {
	background-color: #F7F7F7;
}